<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/dashboard.css" />
  </head>
  <div>
    <div class="join-container">
      <header class="join-header">
        <h1><i class="fas fa-smile"></i> ChatCord</h1>
      </header>
      <main class="join-main">
        <form action="/route/chatbox" method="POST">
          <div class="form-control">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter username..."
              required
            />
          </div>
          <div class="form-control">
            <label for="room">Room</label>
            <select name="room" id="room">
              <option value="JavaScript">Chess</option>
              <option value="Python">Football</option>
              <option value="PHP">Politics</option>
              <option value="C#">Cars</option>
              <option value="Ruby">مفلسين</option>
            </select>
          </div>
          <button type="submit" class="btn">Join Chat</button>
        </form>
      </main>
    </div>

    <script src="/static/index.js"></script>
  </div>
  <%- include('footer') -%>
</html>
