<%- include('header') -%>
<div class="form">
  <form action="/route/login" method="POST">
    <div class="title">Welcome</div>
    <div class="subtitle">Please Fill In Your Information</div>
    <div class="input-container ic1">
      <input
        id="email"
        class="input"
        type="text"
        placeholder=" "
        name="email"
      />
      <div class="cut"></div>
      <label for="email" class="placeholder">Email</label>
    </div>
    <div class="input-container ic2">
      <input
        id="password"
        class="input"
        type="password"
        placeholder=" "
        name="password"
      />
      <div class="cut"></div>
      <label for="lastname" class="placeholder">Password</label>
    </div>
    <button type="text" class="submit">submit</button>
  </form>
</div>
<%- include('footer') -%>
